.window {
  width: 90% !important;
  max-width: 95vw !important;
  min-width: 768px !important;
}

.window-main-col {
  width: 100% !important;
  max-width: calc(100% - 230px) !important;
  min-width: 550px !important;
}
